::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
    background: #bbb;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #aaa;
}

* {
    /* Use the non-ugly scrollbar for Firefox */
    scrollbar-width: thin;
}

:root {
    --card-scale: 1.8;
    --card-width: calc(14vh * var(--card-scale));
    --card-height: calc(19.58vh * var(--card-scale));
    --card-font-size: 14.5pt;
    --card-border-radius: 14px;
    --card-padding: 1em;
    --navbar-height: 36pt;
    --final-score-row-height: 36pt;
    --scrollbar-width: 8px;
}

html {
    overflow: hidden;
}

body {
    background-color: var(--accent-bg);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: var(--accent-fg);
}

small {
    display: inline;
    font-size: .75em;
}

smaller {
    display: inline;
    font-size: .5em;
}

/* NAVBAR */

#navbar {
    display: flex;
    position: fixed;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navbar-height);
    padding: 4pt 4pt;
    z-index: 2147483647;
}

.nav-end {
    align-self: flex-end;
}

/* SCROLL HINTS */

.lah-scroll-left::before, .lah-scroll-right::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 9999;
    top: 50%;
    transform: translateY(-50%);
    animation-direction: alternate;
    animation-duration: .25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

.lah-scroll-left::before {    
    border-right: 16pt solid rgba(0, 0, 0, .5);
    border-top: 24pt solid transparent;
    border-bottom: 24pt solid transparent;
    left: 8pt;
    animation-name: left-arrow-nudge;
}

.lah-scroll-right::after {
    border-left: 16pt solid rgba(0, 0, 0, .5);
    border-top: 24pt solid transparent;
    border-bottom: 24pt solid transparent;
    right: 8pt;
    animation-name: right-arrow-nudge;
}

.mobile-only {
    display: none;
    pointer-events: none;
}

/* GAME AREA */

#game {
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: [c-start] 1fr [c-center] 1fr [c-end];
    grid-template-rows: [r-start] 1fr [r-center] 1fr [r-end];
}

/* COOKIE NOTICE */

#cookie-notice {
    position: fixed;
    bottom: 0;
    height: auto;
    left: 0;
    right: 0;
    background: black;
    color: white;
    border-top: 1px solid white;
    z-index: 99999999;
    padding: .5em 1.5em;
}

#cookie-notice > p {
    font-size: 12pt;
    font-weight: 400;
    width: 50%;
    margin: 6px auto;
}

#cookie-notice > h1 {
    text-align: center;
    font-size: 18pt;
    font-weight: 600;
    margin: 6px 6px;
}

#cookie-notice > input[type=button].closer {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14pt;
    line-height: 1em;
    color: white;
    width: 1em;
    height: 1em;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    border: none;
}

/* READY-UP AREA */
#ready-up-area {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 500px;
    width: 30%;
    min-height: 130px;
    display: grid;
    padding: 16px;
    grid-template-columns: [c-start] 1fr [c-center] 1fr [c-end];
    grid-template-rows: [r-start] 2em [r-center] 1fr [r-end];
    grid-row-gap: 16px;
    background: var(--accent-bg);
    border: 2px solid var(--accent-fg);
    border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
    border-bottom-width: 0;
    z-index: 2147483647;
}

#ready-up-msg {
    grid-row: r-start / r-center;
    grid-column: c-start / c-center;
    text-align: center;
    margin: 0 16px;
}

#btn-ready-up {
    grid-row: r-center / r-end;
    grid-column: c-start / c-center;
    height: 70px;
    width: 90%;
    box-sizing: border-box;
    margin: auto auto;
}

#ready-up-votes-label {
    grid-row: r-start / r-center;
    grid-column: c-center / c-end;
    text-align: center;
}

#ready-up-votes-value {
    grid-row: r-center / r-end;
    grid-column: c-center / c-end;
    text-align: center;
    margin: 0 auto;
    font-size: 50pt;
    line-height: 1.1em;
}

/* PLAYER LIST AND CHAT */

#player-list-area {
    grid-row: r-start / r-center;
    grid-column: c-center / c-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    margin: calc(var(--navbar-height) + 10pt) 10pt 0 0;
    cursor: default;
    box-sizing: border-box;
    padding-bottom: -50px;
}

#player-list-area > * {
    z-index: 99999;
}

.lah-spectating #player-list-area {
    font-size: 1.25em;
}

#player-list-wrapper {
    max-width: 350px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    flex-shrink: 0;
    align-items: stretch;
    transition: opacity .3s;
}

#player-list-wrapper:not(:hover), #player-chat-wrapper:not(:hover) {
    opacity: .7;
}

#game.chat-disabled #player-chat-wrapper {
    display: none !important;
}

#game.chat-disabled #player-list-wrapper {
    flex-basis: 100%;
}

#player-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: auto;
}

#player-list-title, #player-chat-title {
    font-size: 1em;
    font-weight: 600;
    margin: 0 3pt 2pt 0;
    text-align: right;
    opacity: .8;
}

#player-list .player-list-entry {
    display: grid;
    flex-shrink: 0;
    grid-template-rows: [r-start] 1fr [r-end];
    grid-template-columns: [c-start] 1fr [c-center] 4em [c-end];
    padding: 3pt 0;
    margin-right: 3pt;
}

#player-list .player-list-entry.is-you {
    color: var(--accent-highlight);
}


#player-list .player-list-entry.is-idle .col-name {
    color: var(--accent-idle);
    font-style: oblique;
}

#player-list .player-list-entry.voted-skip .col-name {
    color: var(--accent-skip);
}

.player-list-entry > * {
    font-size: 1em;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.player-list-entry > .col-name {
    grid-column: c-start / c-center;
}

.player-list-entry > .col-name:before, .player-list-entry > .col-name > .badge:before, .player-list-entry > .col-name > .badge:after {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: var(--accent-ol);
    border-radius: 3px;
    background-size: 100% 100%;
    transform: translateY(.1125em);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: bottom;
}

.player-list-entry.is-bot > .col-name > .badge:before {
    content: "";
    margin-right: 3pt;
    background-image: url("/img/bot.png");
}

#game:not(.lah-stage-game-starting) .player-list-entry.is-judge > .col-name:before {
    content: "";
    margin-right: 3pt;
    background-image: url("/img/lah-czar.png");    
}

.player-list-entry.is-pending > .col-name:before {
    content: "";
    margin-right: 3pt;
    background-image: url("/img/lah-pending.png");    
}

#game.lah-stage-game-starting .player-list-entry.is-ready > .col-name:before {
    content: "";
    margin-right: 3pt;
    background-image: url("/img/ready.png");
}

.player-list-entry > .col-score {
    grid-column: c-center / c-end;
    text-align: right;
}

.player-list-entry > .col-score:after {
    content: "\1f7ca";
    display: inline-block;
    transform: translateY(-.03em);
    margin-left: .5pt;
    font-weight: 500;
}

#player-chat-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 8;
    flex-shrink: 1;
    width: 300px;
    transition: opacity .3s
}

#player-chat-messages-container {
    flex-grow: 1;
    position: relative;
    word-wrap: break-word;
    margin: 0;
}

#player-chat-messages-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: var(--scrollbar-width);
    height: 24px;
    display: block;
    background: linear-gradient(to bottom, var(--accent-bg), transparent);
    z-index: 9999;
}

#player-chat-messages {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

#player-chat-messages .chat-msg:first-child {
    margin-top: auto;
}

.chat-msg {
    margin-left: 4px;
    font-weight: 300;
}

.chat-msg-author {
    font-size: 10pt;
    margin: 2px 0;
    font-weight: 700;
}

.chat-msg-body, .chat-msg-body * {
    cursor: text;
    font-size: 10pt;
    font-weight: 100;
    word-wrap: break-word;
    word-break: normal;
}

.chat-msg-body strong, .chat-msg-body strong * {
    font-weight: 900 !important;
}

.chat-msg-body em, .chat-msg-body em * {
    font-style: oblique;
}

.chat-msg-body strike, .chat-msg-body strike * {
    text-decoration: line-through;
}

.enable-anim-text .chat-msg-body span.juggle-a {
    display: inline-block;
    animation: chat-anim-juggle .5s ease infinite;
    white-space: pre-wrap;
}

.enable-anim-text .chat-msg-body span.juggle-b {
    display: inline-block;
    animation: chat-anim-juggle .5s ease infinite reverse;
    white-space: pre-wrap;
}

@keyframes chat-anim-juggle {
    0% {
        transform: none;
    }
    25% {
        transform: translateY(-1px);
    }
    50% {
        transform: none;
    }
    75% {
        transform: translateY(1px);
    }
}

.enable-anim-text  .chat-msg-body span.bounce {
    display: inline-block;
    animation: chat-anim-bounce .4s ease infinite;
}

@keyframes chat-anim-bounce {
    50% {
        transform: translateY(-3px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateY(0);
    }
}

.enable-anim-text  .chat-msg-body span.tilt {
    display: inline-block;
    animation: chat-anim-tilt .5s linear infinite;
    white-space: pre-wrap;
}

@keyframes chat-anim-tilt {
    0% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(-20deg);
    }
}

.enable-anim-text .chat-msg-body span.rage {
    display: inline-block;
    animation: chat-anim-rage .09s ease-in-out infinite;
}

@keyframes chat-anim-rage {
    0% {
        transform: translateY(3px) rotate(1deg);
    }
    25% {
        transform: none;
    }
    50% {
        transform: translateY(3px) rotate(-1deg);
    }

    75% {
        transform: none;
    }
}

#player-chat-input-wrapper {
    flex-shrink: 1;
}

#txt-chat-msg {
    background: none;
    color: var(--accent-fg);
    outline: none;
    border: none;
    border-bottom: 1px solid #9a9a9a;
    padding: 4px;
    margin: 0;
    width: 100%;
    height: 1.8em;
    font-weight: 300;
    box-sizing: border-box;
    transition: border-color .2s ease, border-width .2s ease;
}

#txt-chat-msg:focus {
    border-color: var(--accent-fg);
}

/* NOTIFICATION BANNER */

#notify-banner {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    left: 0;
    top: 45vh;
    transform: translateY(-50%);
    min-height: 85pt;
    padding: 12pt;
    background: rgba(16, 16, 16, .75);
    cursor: default;
    z-index: 2000000;
}

#notify-banner-text {
    font-size: 36pt;
    max-width: 100%;
    word-wrap: break-word;
    color: white;
    text-align: center;
}

/* HAND AREA */

#hand-area {
    grid-row: r-start / r-end;
    grid-column: c-start / c-end;
    display: flex;
    position: relative;
    align-items: flex-end;   
    overflow: hidden; 
}

#game.lah-stage-judging #hand-area {
    display: none;
}

#hand-cards-area {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#hand-cards-container {
    display: flex;
    flex-direction: row;
    padding: 32pt 12pt 12pt 12pt;
}

*:not(.disabled) card[white].user:hover, #hand-area:not(.disabled) card[white]:hover {
    box-shadow: 0 0 7pt 3pt rgba(0, 0, 0, .55);
}

*:not(.disabled) card[white].user:active:not(:focus-within), 
#hand-area:not(.disabled) card[white]:active:not(:focus-within) {
    box-shadow: 0 0 7pt 3pt rgba(0, 0, 0, .55);
    transform: translate(0, 1.75pt);
}

#hand-controls-area {
    transform: translate(-50%, calc(-1 * var(--card-height) - 100% - 28px));
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 9999;
}

/* STATUS AREA */

#status-area {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--accent-fg);
    left: 16pt;
    top: 10pt;        
    min-width: 64pt;
    z-index: 2147483647;
    cursor: default;
    opacity: .65;
    transition: opacity .3s;
}

#status-area:hover {
    opacity: 1;
}

#status-area > *:not(:last-child) {
    margin-bottom: 4pt;
}

#status {
    font-size: 22pt;
    font-weight: 800;
    margin-left: 2px;
}

#status-area .stat:not(.bare):before {
    content: "";
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    margin-right: 8pt;
    transform: translateY(.25em);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--accent-ol);
    border-radius: 3px;
} 

#status-area .stat {
    font-size: 16pt;
    text-align: left;    
    max-width: 350px;
    margin-bottom: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lah-spectating #status-area, .lah-spectating #status {
    font-size: 1.5em;
}

#myname {
    margin-left: 2px;
}

#status-area .stat.bare {
    margin-left: 3px;    
}

#status-area #player-count:before {    
    background-image: url("/img/lah-person.png");    
}

#status-area #score:before {
    background-image: url("/img/lah-score.png");
}

#status-area #czar:before {
    background-image: url("/img/lah-czar.png");
}

#status-area #pending-players:before {
    background-image: url("/img/lah-pending.png");
}

#status-area #coins:before {
    background-image: url("/img/lah-coin.png");
}

/* GAME OVER SCREEN / TROPHIES */

#game-end-screen {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 99999999999;
    background: rgba(0, 0, 0, .4);
}

#game-end-grid {
    display: grid;
    grid-template-rows: [r-start] 48pt [r-center] 1fr [r-end];
    grid-template-columns: [c-start] 1fr [c-center] 150pt [c-end];
    min-width: 600px;
    width: 60%;
    max-width: 1024px;
    min-height: 70%;
    height: 70%;
    overflow: hidden;
    background: #dfdfdf;
    border-radius: var(--card-border-radius);
}

#game-end-heading {
    padding: 16pt 24pt;
    font-size: 24pt;
}

#game-end-scoreboard {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 8pt 24pt;
    margin-top: 8pt;
}

#game-end-scoreboard-header {    
    padding-bottom: 3pt;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}

#game-end-scoreboard-header, #game-end-scoreboard-entries > .scoreboard-entry {
    display: grid;
    grid-template-columns: [c-start] 50% [c-2] 20% [c-3] 30% [c-end];
    grid-template-rows: [r-start] 100% [r-end];
}

#game-end-scoreboard-entries > .scoreboard-entry > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #5a5a5a;
    font-size: 16pt;
    margin-left: 2pt;
    padding-right: 4pt;
}

/* Hack to get overflow ellipsis to work inside flexbox */
#game-end-scoreboard-entries > .scoreboard-entry > .text[data-text]:before {
    content: attr(data-text);
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#game-end-scoreboard-entries > .scoreboard-entry > *:not(:first-child) {
    padding-left: 4pt;
}

#game-end-scoreboard-header > * {
    font-size: 14pt;
    color: #333;
    text-align: left;
    margin-left: 2pt;
}

#game-end-scoreboard-entries > .scoreboard-entry {
    height: var(--final-score-row-height);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

#game-end-scoreboard-entries > .scoreboard-entry.winner > * {
    color: #d92;
}

#game-end-trophies-heading {
    color: #eee;
    font-size: 22pt;
    text-align: center;
    padding: 16pt 8pt;
    word-wrap: break-word;
}

#game-end-trophies-area {
    grid-row: r-start / r-end;
    grid-column: c-center / c-end;
    display: flex;
    flex-direction: column;
    background: #333;
}

#game-end-trophies-list {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

#game-end-trophies-list:empty:before {
    content: attr(data-emptymsg);
    color: #eee;
    opacity: .75;
    font-size: 12pt;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.trophy {
    position: relative;
    width: 100%;
    padding-bottom: 16pt;
}

/* trophy description */
.trophy:before {
    content: attr(data-trophy-name) ":\a\a" attr(data-trophy-desc);
    white-space: pre-wrap;
    line-height: 1.35em;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 8pt;
    color: #eee;
    font-size: 11pt;
    background: rgba(30, 30, 30, .97);
    transition: opacity .3s;
    z-index: 99999;
}

.trophy:not(:hover):before {
    opacity: 0;
}

.trophy .trophy-icon {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 3px solid #ddd;
    background: black;
    box-sizing: border-box;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100% !important;
}

/* trophy overlay icon */
.trophy .trophy-icon:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/img/lah-trophy.png");
    background-repeat: no-repeat;
    background-position: 50% 55%;
    background-size: 60%;
    filter: drop-shadow(0 0 4px black);
}

/* trophy name */
.trophy:after {
    display: block;
    content: attr(data-trophy-name);
    color: #ddd;
    padding: 6pt;
    font-size: 12pt;
    text-align: center;
}

/* PLAY AREA */

#play-area {
    grid-row-start: r-start;
    grid-row-end: r-end;
    grid-column-start: c-start;
    grid-column-end: c-end;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

#play-cards-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    padding-bottom: 32pt;
}

#game.lah-stage-judging.lah-judge #play-cards-area .card-group * {
    pointer-events: none;
}

.lah-stage-round-end #play-cards-scroll-area, .lah-stage-round-end #play-cards-area {
    overflow: visible;
}

#play-cards-scroll-area {
    align-items: flex-end;
    padding-bottom: 36pt;
}

/* JUDGE CONTROLS AREA */

#judge-controls-area {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(0, calc(var(--card-height) * -1 - 24px - 100%));
    display: none;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    z-index: 9999;
}

#game.lah-stage-judging.lah-judge #judge-controls-area {
    display: flex;
}

/* PROMPT AREA */

#prompt-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-row-start: r-start;
    grid-row-end: r-center;
    grid-column-start: c-start;
    grid-column-end: c-end;    
}

#black-card-area {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

card > .btn-skip {
    position: absolute;
    display: inline-block;
    bottom: -2.25em;
    left: 50%;
    font-size: 12pt;
    line-height: 1.02em;
    font-weight: 600;
    height: 1em;
    transform: translateX(-50%);
    background: none;
    outline: none;
    color: var(--accent-fg);
    border: 2px solid var(--accent-fg);
    box-sizing: content-box;
    padding: 2px 8px;
    border-radius: 3px;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: opacity .1s ease;
    opacity: .4;
}

#game:not(.lah-stage-playing) .btn-skip {
    display: none;
}

card > .btn-skip:not(:disabled):hover {
    border-color: var(--accent-fg);
    opacity: 1;
}

.lah-voted-skip card > .btn-skip {
    color: var(--accent-skip);
    border-color: var(--accent-skip) !important;
}

.lah-stage-playing.lah-judge #prompt-area {
    grid-row: r-start / r-end;
    grid-column: c-start / c-center;
    justify-content: flex-end;
    align-items: center;
}

.lah-stage-playing.lah-spectating #prompt-area {
    grid-row: r-start / r-end;
    grid-column: c-start / c-end;
    justify-content: center;
    align-items: center;
    transform: scale(1.5);
}

#game.lah-stage-judging #prompt-area {
    grid-row: r-start / r-center;
    grid-column: c-start / c-end;
    justify-content: center;
}

/* JUDGE STATUS & MESSAGE AREAS */

#judge-message-area {
    display: none;
    grid-row: r-start / r-center;
    grid-column: c-start / c-end;
    flex-direction: row;
    justify-self: center;
    align-self: flex-end;
    transform: translateY(calc(var(--card-height) * -0.5 - 28pt));
    font-size: 28pt;
}

#judge-message-body {
    text-align: center;
}

#judge-status-card-area {
    display: none;
    flex-direction: row;
    grid-row: r-start / r-end;
    grid-column: c-center / c-end;
    justify-content: flex-start;
    align-items: center;
    color: #888;
    pointer-events: none;
}

#game.lah-stage-playing.lah-judge #judge-status-card-area,
#game.lah-stage-playing.lah-judge #judge-message-area {
    display: flex;
}

#judge-status-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: var(--card-width);
    height: var(--card-height);
    border-radius: var(--card-border-radius);
    border: 4px dashed #888;
    box-sizing: border-box;
    margin-left: 36pt;
}

#judge-status-card-text {
    font-size: 64pt;
    font-weight: 600;
    text-align: center;
}

/* CARD STYLES */

card {
    display: inline-block;
    position: relative;
    background-color: white;
    border: 2px solid black;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    line-height: 1.35;
    margin: .3rem .3rem;
    cursor: default;
    word-wrap: break-word;
    overflow-wrap: break-word;
    transition: box-shadow 0.3s;
    user-select: none;
    box-sizing: border-box !important;
    min-width: var(--card-width) !important;
    max-width: var(--card-width) !important;
    max-height: var(--card-height) !important;
    min-height: var(--card-height) !important;
    font-size: var(--card-font-size);
    font-weight: 600
}

card.collapse {
    animation: collapse .2s ease-in-out !important;
}

card.placeholder {
    border-style: dashed;
    border-width: 2px;
    background: transparent;
    display: flex;
    flex-direction: row;
}

card.placeholder::after {
    content: "?";
    font-size: 300%;
    display: block;
    text-align: center;
    align-self: center;
    margin: 0 auto;
    color: #555;
}

card .pick {
    position: absolute;
    font-size: .75em;
    right: 1.45rem;
    bottom: 1.5rem;
    transition: opacity .2s;
}

card .draw {
    position: absolute;
    font-size: .75em;
    right: 1.45rem;
    bottom: 3.625em;
    transition: opacity .35s;
}

card .pick::before {
    content: "PICK ";
}

card .draw::before {
    content: "DRAW ";
}

card .pick .num, card .draw .num {
    color: black;
    display: inline-block;
    text-align: center;
    line-height: .9em;
    font-weight: 600;
    font-size: 1.2em;
    background: white;
    border: 2px solid white;
    border-radius: 100%;
    padding: 1px 1px 1px 0px;
    min-width: .9em;
    height: .9em;
    white-space: nowrap;
    box-sizing: initial !important;
}

/* CARD RIBBON */

card .ribbon {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    overflow: hidden;
    font-weight: 500;
    border-radius: 0 0 calc(var(--card-border-radius) - 2px) calc(var(--card-border-radius) - 2px);
}

card[data-packid] .ribbon:not(:hover):after {
    color: rgba(0,0,0,0) !important;
    background-size: 12.5% !important;
}

card[data-packid] .ribbon:after {
    position: absolute;
    left: 0;
    top: 40px;
    right: 0;
    height: 60px;
    content: attr(data-packname);
    font-size: 11pt;    
    background-color: #444;
    background-size: 100% !important;
    padding: 8px 15px;
    text-align: left;
    transform-origin: left top;
    transform: rotate(45deg);
    transition: transform .2s, color .2s, background-size .2s;
    border-left: none !important;
    background-clip: padding-box;
    background-repeat: repeat-x;
}

card .ribbon:hover:after {
    color: #fff;
    transform: rotate(0deg) translateY(-10px);
    background-size: 100% !important;
}

card .ribbon:hover ~ .pick, card .ribbon:hover ~ .draw {
    opacity: 0;
}

card[black] {
    background-color: black;
    color: white;
    border: 1.5px solid var(--accent-ol);
    font-weight: 300;
}

card[white] {
    background-color: #f6f6f6;
    color: black;
    font-weight: 500;
}

/* DISCARD BUTTONS */

card .btn-discard {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    height: 36px;
    width: 36px;
    overflow: hidden;
    image-rendering: optimizeQuality;
    background-image: url("/img/discard.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-origin: 50% 50%;
    background-position: 50% 50%;
    border-bottom-left-radius: 4px;
    opacity: 0;
    box-sizing: content-box;
}

card:hover .btn-discard {
    opacity: .5;
}

card:hover .btn-discard:hover {
    background-color: rgba(0, 0, 0, .075);
    opacity: 1;
}

/* CARD UPGRADE BUTTONS */

card .btn-upgrade {
    position: absolute;
    left: 0;
    top: -10pt;
    font-size: 10pt;
    min-width: 16pt;
    border-radius: 6px;
    border: 2px solid var(--accent-ol);
    color: white;
    background: black;
    padding: 2px 3px;
    z-index: 9999;
    transition: background-color .4s;
}

card .btn-upgrade:hover {
    background-color: #454545;
}

card .btn-upgrade.nope {
    background-color: red;
}

.icon-coin {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url("/img/lah-coin-inv.png");
    background-size: 95% 95%;
    background-repeat: no-repeat;
    transform: translateY(.15em);
}

/* BLANK CARDS */

card[data-card="blank"] > .blank-card-text-container {
    pointer-events: auto !important;
    position: absolute;    
    top: 10pt;
    left: 10pt;
    right: 10pt;
    bottom: 42pt;
    box-sizing: content-box;
    border-radius: 6pt;
    border: 2px dashed transparent;
    transition: border-color .3s;
}

card[data-card="blank"] > .blank-card-text-container .blank-card-text {
    font-size: inherit !important;
    font-weight: 500;
    line-height: inherit !important;
    resize: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 4pt;
    color: #368;
    background: transparent;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

card[data-card="blank"] .blank-card-text-container:hover {
    border: 2px dashed #ccc;
}

card[data-card="blank"] .blank-card-text::placeholder {
    font-family: "LAH", sans-serif !important;
}

card[data-card="blank"] .blank-card-text, card[data-card^="custom:"] {
    font-family: "Comic Sans MS", sans-serif !important;
}


/* CARD GROUPS */

#game.lah-stage-judging.lah-judge #play-cards-area > .card-group {
    transition: margin .3s, transform .3s, background-color .3s !important;
}

#game.lah-stage-judging.lah-judge #play-cards-area > .card-group:hover {
    background: #aaa;
}

#game.lah-stage-judging.lah-judge #play-cards-area > .card-group.judge-selected {
    background: rgb(126, 126, 126);
    margin: 0 8pt;
    transform: translate(0, -3pt);
}

.card-group.judge-selected card:only-child {
    animation-name: tilt;
    animation-duration: .275s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.card-group.judge-selected card:not(:only-child) {
    animation-name: rumble;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.card-group.judge-selected card:nth-child(odd):not(:only-child) {
    animation-direction: alternate-reverse;
}

card[white].winner, .card-group.winner card[white] {
    background: linear-gradient(to bottom, rgb(255, 230, 5), rgb(231, 160, 8)) !important;
    color: black;
    border-color: #423b00;
}

card[data-selection]::after {
    content: attr(data-selection);
    transform: translate(-50%, calc(-100% - 8pt));
    position: absolute;
    top: 0;
    left: 50%;
    color: white;
    background: black;
    border-radius: 100%;
    padding: 2px 2px;
    font-family: "Helvetica", "LAH", sans-serif !important;
    font-size: 20pt;
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
    overflow: visible;
    text-align: center;
    pointer-events: none;
    animation-name: card-selection;
    animation-duration: .25s;
    animation-timing-function: ease-out;
    z-index: 8000;
}

.lah-btn {
    outline: none;
    padding: 8pt 25pt;
    background: var(--btn-color) !important;
    color: var(--accent-fg) !important;
    border: 2px solid var(--accent-fg);
    border-radius: 6px;
    font-size: 22pt;
    margin: 0 6pt;
}

.lah-hlist > .lah-btn:last-child {
    margin-right: 0;
}

.lah-hlist > .lah-btn:first-child {
    margin-left: 0;
}

.lah-btn-small {
    font-size: 14pt;
    padding: 4pt 12pt;
    font-weight: 500;
    margin: 0 4pt;
}

.lah-btn:not(.disabled):not(:disabled):hover {
    filter: brightness(1.1);
    cursor: pointer;
}

.lah-btn:not(.disabled):not(:disabled):active {
    transform: translate(0, 2px);
    /* border-bottom-width: 5px; */
}

.lah-btn.lah-btn-small:not(.disabled):active {
    transform: translate(0, 2px);
    /* border-bottom-width: 3px; */
}

.lah-btn.disabled, .lah-btn:disabled {
    opacity: .35;
    cursor: default;
}

.lah-txtbox {
    padding: 6pt;
    outline: none;
    border: 2px solid #444;
    border-radius: 4pt;
    font-size: 14pt;
    height: 16pt;
    min-width: 16em;
}

.lah-label {
    display: block;
    font-size: 13pt;
    margin: 4pt 1pt;
    color: #444;
}

input[type=checkbox].lah-checkbox {
    position: relative;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 0;
    width: 0;
}

input[type=checkbox].lah-checkbox + label {
    position: relative;
    padding-left: 32px;
    cursor: default;
    user-select: none;
}

input[type=checkbox].lah-checkbox + label:before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background: none;
    border: 2px solid black;
    border-radius: 3px;
    box-sizing: border-box;
    transition: background-color .25s ease;
}

input[type=checkbox].lah-checkbox:active + label:before {
    background-color: rgba(0, 0, 0, .1);
}

input[type=checkbox].lah-checkbox:checked + label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
    height: 8px;
    width: 15px;
    border: 0 solid black;
    border-left-width: 3px;
    border-bottom-width: 3px;
    transform: rotate(-45deg) translate(-1px, 1px);
    box-sizing: border-box;
}

.wide {
    align-self: stretch;
}

#txt-accent-color {
    transition: background-color .3s;
}

.modal {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(.13, .13, .13, .85);
    z-index: 2147483647;
    color: black;
    --accent-fg: #000;
    --accent-bg: #eee;
}

.modal.opaque {
    background: #1a1a1a;
}

.modal-dialog {
    background: #f6f6f6;  
    display: flex;
    flex-direction: column;
    position: relative;  
    padding: 20pt 24pt 16pt 24pt;
    border-radius: 6pt;
    width: 700px;
    max-width: 700px;
    min-height: 400px;
}

.modal-dialog h1,
.modal-dialog h2,
.modal-dialog h3,
.modal-dialog h4,
.modal-dialog h5,
.modal-dialog h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
}

.modal-nav {
    position: absolute;
    top: 4pt;
    left: 8pt;
    right: 8pt;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: var(--modal-nav-height);
}

.modal-close {
    width: 20pt;
    height: 20pt;
    font-size: 20pt;
    background: none;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
}

.modal-close:hover {
    color: #666;
}

.modal-close:active {
    transform: translate(0, 1pt);
}

.lah-vlist {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.lah-fill {
    flex-shrink: 0;
    flex-grow: 1;
}

.lah-vlist > .lah-listitem, .modal-body > .lah-listitem {
    display: flex;
    flex-direction: column;
    margin: 4pt 2pt;
}

.lah-vlist > .lah-gap, .modal-body > .lah-gap {
    margin: 4pt 4pt;
}

.lah-hlist {
    display: flex;
    flex-direction: row;
}

.lah-push-end {
    justify-content: flex-end;
}

.lah-push-center {
    justify-content: center;
}

.lah-stretch-items > * {
    justify-self: stretch;
    flex-grow: 1;
}

.lah-listitem > input[type="text"] {
    flex-grow: 1;
}

@keyframes left-arrow-nudge {
    from {
        transform: translate(0, -50%);
        opacity: .9;
    }
    to {
        transform: translate(-3pt, -50%);
    }
}

@keyframes right-arrow-nudge {
    from {
        transform: translate(0, -50%);
        opacity: .9;
    }
    to {
        transform: translate(3pt, -50%); 
    }
}

@keyframes card-selection {
    from {
        opacity: 0;
        transform: translate(-50%, -100%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, calc(-100% - 8pt));
    }
}

#join-version {
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 10pt;
    opacity: .5;
}

#join-screen-title {
    margin: 4px 0;
    text-align: center;
}

#join-screen-server-name {
    margin: 4px;
    font-size: 12pt;
    color: #444;
    text-align: center;
}

#join-stat-grid {
    display: flex;
    /* grid-template: [r-start] 1fr [r-end] / [c-start] 1fr [c1] 1fr [c2] 1fr  [c3] 1fr [c-end]; */
    flex-direction: row;
    justify-content: space-around;
    margin: 4px 0;
    color: #333;
}

#join-marquee {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 14pt;
    padding: 2px;
    font-size: 12pt;
}

#join-marquee:before, #join-marquee:after {
    content: attr(data-marquee-text);
    flex-shrink: 0;
    min-width: 100%;
    font-size: 12pt;
    color: #333;
    padding-left: 2em;
    padding-right: 6em;  
    animation: join-marquee 12s linear 1s infinite;
    box-sizing: content-box;
}

@keyframes join-marquee {    
    to {
        transform: translateX(-100%);
    }
}

#join-stat-grid .server-stat {
    display: block;
    margin: 12px 6px;
    padding: 16px 6px;
}

#join-stat-grid .server-stat .name {
    display: block;
    text-align: center;
}

#join-stat-grid .server-stat .value {
    display: block;
    font-size: 24pt;
    text-align: center;
    color: #454545;
    font-weight: 700;
}

#join-controls > * {
    flex-grow: 1;
}

#fork-me {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 200px;
    width: 200px;
    font-size: 12pt;
    overflow: hidden;
}

#fork-me-ribbon {
    display: block;
    content: "Fork me on GitHub!";
    color: white;
    background-color: #5a5a5a;
    text-decoration: none;
    width: 150%;
    padding: 8px;
    text-align: center;
    font-weight: 400;
    transform: translate(-25px, 50px) rotate(45deg);
    text-shadow: 0 0 20px black;
}

/* DESKTOP COMPACT */
@media only screen and (min-aspect-ratio: 5/3)
{

    /* GAME AREA */

    #game {
        grid-template-columns: [c-start] 1fr [c-center] 1fr [c-end sb-start] 330px [sb-end];
        grid-template-rows: [r-start] 1fr [r-center] 1fr [r-end];
    }

    #player-list-area {
        grid-column: sb-start / sb-end;
        grid-row: r-start / r-end;
        margin-bottom: 12px;
        border-left: 2px solid rgba(64, 64, 64, .2);
    }

    #player-list-wrapper {
        flex-basis: 40%;
    }
}